<div class="container">
    <div class="container">
		<div class="level">
			<div class="level-left">
				<h5 class="title is-5">Nurse</h5>
			</div>
			<div class="level-right">
				<button class="button is-small is-success" (click)="onAddBtnClick()">Add</button>
			</div>
		</div>

		<app-table [data]="nurses" [columns]="columns" (editBtnClick)="onEditBtnClick($event)"
			(deleteBtnClick)="onDeleteBtnClick($event)"></app-table>
	</div>
<div class="modal" [ngClass]="{'is-active': formModalActive}">
    <div class="modal-background"></div>
    <div class="modal-content">

        <form class="box" [formGroup]="nurseFormGroup">
            <div class="field">
                <label class="label is-small">Nurse Name</label>
                <div class="control">
                    <input class="input is-small" type="text" placeholder="Name"
                        [formControlName]="nurseFormControlKeys.nName" />
                </div>
            </div>

            <div class="field">
                <label class="label is-small">License Number</label>
                <div class="control">
                    <input class="input is-small" type="text" placeholder="License Number"
                        [formControlName]="nurseFormControlKeys.licenseNo" />
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button type="button" class="button is-small is-link" (click)="onFormSubmitBtnClick()">
                        Submit
                    </button>
                </div>
                <div class="control">
                    <button type="button" class="button is-small is-link is-light" (click)="onFormCancelBtnClick()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal" [ngClass]="{'is-active': deleteModalActive}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Are you sure to delete</h5>
            <div class="buttons">
                <button type="button" class="button is-small is-link" (click)="onDeleteConfirm()">Yes</button>
                <button type="button" class="button is-small is-link is-light" (click)="onDeleteReject()">No</button>
            </div>
        </div>
    </div>
</div>

</div>